@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: 300; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');}
@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: normal; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');}
@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: bold; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');}
/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}
/* 이사만루 */
@font-face {
    font-family: 'EsaManru';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'EsaManru';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'EsaManru';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'SSRONETHandwritten';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SSRONETHandwritten.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.light{ font-weight: 300 }
.midium{ font-weight: 500 }
.sbold{ font-weight: 600 }
.bold{ font-weight: 800 }
.bolder{ font-weight: 900 }

html,body{height: 100%;}
.wrap img{width: auto;display: inline-block;}
.wrap div,.wrap span,.wrap a,.wrap p,.wrap label,.wrap table th,.wrap table td{font-family: 'Pretendard' ,sans-serif;font-weight: 400; letter-spacing: -0.02rem;}

*{font-family: 'Pretendard' ,sans-serif;font-weight: 400; letter-spacing: -0.02rem;}

.blind {visibility: hidden;
	display: none;
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0;}


*[data-font="Gmarket"],
*[data-font="Gmarket"] *,
.wrap .inner .chk .txtbox *{font-family: 'GmarketSans', sans-serif !important;}
    
*[data-font="EsaManru"],
*[data-font="EsaManru"] *,
.wrap .inner .chk .txtbox *{font-family: 'EsaManru', sans-serif !important;}
    
*[data-font="GangwonEduAll"],
*[data-font="GangwonEduAll"] *,
    .wrap .inner .chk .txtbox *{font-family: 'GangwonEduAll', sans-serif !important;}
    
*[data-font="SSRONETHandwritten"],
*[data-font="SSRONETHandwritten"] *,
.wrap .inner .chk .txtbox *{font-family: 'SSRONETHandwritten', sans-serif !important;}

.wrap{width:100%; max-width: 720px; margin: auto;position: relative; overflow: hidden;}

.wrap [data-aos=fade-up]{transform: translate3d(0,30px,0);}
.wrap [data-aos=fade-down]{transform: translate3d(0,-30px,0)}
.wrap [data-aos=fade-right]{transform: translate3d(-30px,0,0)}
.wrap [data-aos=fade-left]{transform: translate3d(30px,0,0)}


.wrap .cont{width:100%; max-width: 720px; margin: auto;position: relative;}
.wrap .cont .inner{margin: auto;position: relative; z-index:2;}
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;}

.tit-box p, .tit-box p span {font-size: 24px;}
.tit-box p {color: #fff; line-height: 40px;}
.tit-box p span {color: #ffd55b;}
	
/* content 01 */
.sec01 .logo { position: absolute; top: 20px; right: 25px; z-index: 1; width: 173px; height: 33px; z-index: 9;}
.sec01{ background: url(../images/sec_01_bg.png) no-repeat top center;}

.sec01 > .inner {padding: 100px 0 0; height: 992px; position: relative;}
.sec01 .title .top-txt {width: 230px; line-height: 50px; text-align: center; font-size: 22px; border-radius: 50px; background-color: #1693db; color: #fff; margin: 0 auto;}

.sec01 .title .tit {text-align: center;}
.sec01 .title .tit p {font-size: 150px; line-height: 120px;}
.sec01 .title .tit > p {color: #383433; margin: 36px 0 20px;}
.sec01 .title .tit > div {position: relative; width: 400px; height: 123px; margin: 0 auto 26px;}
.sec01 .title .tit > div > span, .sec01 .title .tit > div p {display: inline-block;}


.sec01 .title .tit > div > span {position: absolute; width: 28px; height: 123px; transition: all 0.5s 0.3s ease-in;}
.sec01 .title .tit > div > span.le {background: url(../images/sec_01_title_bullet01.png); left: 150px;}
.sec01 .title .tit > div > span.ri {background: url(../images/sec_01_title_bullet02.png); right: 150px;}

.sec01 .title .tit.aos-animate > div span.le {left: 0;}
.sec01 .title .tit.aos-animate > div span.ri {right: 0;}

.sec01 .title .tit > div p {position: absolute; left: 47px; width: 0; height: 123px; transition: width 0.8s 0.9s ease; overflow: hidden; background: url(../images/sec_01_title.png) no-repeat center left;}

.sec01 .title .tit.aos-animate > div p {width: 302px;}



.sec01 .text {margin-top: 10px; text-align: center;}
.sec01 .text, .sec01 .text span {font-size: 24px; line-height: 36px; color: #383433; font-weight: 500;}
.sec01 .text span {position: relative; -webkit-text-fill-color: #1693db; font-weight: 600;}
.sec01 .text span::after {
    position: absolute;
    top: -3px;
    left: 0;
    height: 115%;
    transform-origin: 0 100%;
    content: attr(data-text);
    -webkit-text-fill-color: #383433;
    overflow: hidden;
    transition: all 0.6s 1.5s ease-in;
}

.sec01 .text.aos-animate span::after {
    height: 0;
}

.sec01 .img-item {width: 226px; height: 344px; background: url(../images/sec_01_item.png) no-repeat top center; position: absolute; top: 604px; left: 70px;}
.sec01 .img-item.aos-animate {animation: sec01-img 1.6s ease infinite alternate;}

@keyframes sec01-img{
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
 }
 

.sec01 .sec01_motion {
    background: url(../images/sec_01_01_bg.png) no-repeat top center;
    height: 778px;
    position: relative;
    z-index: 3;
}

.sec01 .sec01_motion .title {padding-top: 78px; width: 660px; margin: 0 auto;}
.sec01 .sec01_motion .title p {font-size: 40px; color: #fff; margin-bottom: 14px; font-weight: 300; text-align: center;}
.sec01 .sec01_motion .title .tit-ani {}
.sec01 .sec01_motion .title .tit-ani span {text-indent: -9999px; display: inline-block; height: 36px;}
.sec01 .sec01_motion .title .tit-ani span:nth-child(1) {background: url(../images/sec_01_01_title01.png) no-repeat; }
.sec01 .sec01_motion .title .tit-ani span:nth-child(2) {background: url(../images/sec_01_01_title02.png) no-repeat top right; width: 195px;}
.sec01 .sec01_motion .title.aos-animate .tit-ani span.ani-txt {animation: wi1 1.4s ease both;}

@keyframes wi1{
    0% {width: 0px}
    100% {width: 460px;}
 }

.sec01 .sec01_motion_cont {display: flex; width: 660px; margin: 68px auto 0; justify-content: space-between;}
.sec01 .sec01_motion_cont > div {position: relative;}
.sec01 .sec01_motion_cont > div > .img {width: 309px; height: 309px; border-radius: 58px;  box-shadow: 10px 0 30px rgba(0,0,0,0.4); position: relative; top: -20px; opacity: 0;}
.sec01 .sec01_motion_cont > div:nth-child(1) > .img {background: url(../images/sec01_motion_img01.png) no-repeat top center; transition: all 0.3s 0.2s ease-in;} 
.sec01 .sec01_motion_cont > div:nth-child(2) > .img {width: 320px; background: url(../images/sec01_motion_img02.png) no-repeat top center; transition: all 0.3s 0.6s ease-in;} 

.sec01 .sec01_motion_cont > div > p {font-size: 24px; font-weight: 500; line-height: 36px; color: #fff; margin-top: 24px; text-align: center; position: relative; bottom: -20px; opacity: 0;}
.sec01 .sec01_motion_cont > div:nth-child(1) > p {transition: all 0.3s 0.4s ease-in;}
.sec01 .sec01_motion_cont > div:nth-child(2) > p {transition: all 0.3s 0.8s ease-in;}

.sec01 .sec01_motion_cont.aos-animate > div > .img {top: 0; opacity: 1;}
.sec01 .sec01_motion_cont.aos-animate > div > p {bottom: 0; opacity: 1;}

.sec01 .sec01_motion_cont > div span {display: block; position: absolute; left: 0; bottom: -9px;  width: 0; height: 6px; background: url(../images/sec01_motion_img03.png) no-repeat top left;}
.sec01 .sec01_motion_cont > div:nth-child(1) span {left: 9px;}
.sec01 .sec01_motion_cont > div:nth-child(2) span { background: url(../images/sec01_motion_img04.png) no-repeat top left}

.sec01 .sec01_motion_cont.aos-animate > div span {animation: wi2 1s 1.2s ease both;}
.sec01 .sec01_motion_cont.aos-animate > div:nth-child(2) span {animation: wi2-1 1s 1.2s ease both;}

@keyframes wi2{
    0% {width: 0px}
    100% {width: 300px;}
 }

 @keyframes wi2-1{
    0% {width: 0px}
    100% {width: 324px;}
 }


/* content 02 */
.sec02 {height: 2375px; background: url(../images/sec_02_bg.png);}
.sec02 .title {text-align: center; padding-top: 100px;}
.sec02 .title p {margin-bottom: 20px; font-size: 24px; font-weight: 500; color: #fff;}
.sec02 .title h2 {font-size: 40px; font-weight: 300; color: #fff;}
.sec02 .title .tit-ani {margin-top: 18px;}
.sec02 .title .tit-ani span {text-indent: -9999px; display: inline-block; height: 37px;}
.sec02 .title .tit-ani span:nth-child(1) {background: url(../images/sec_02_title01.png) no-repeat; }
.sec02 .title .tit-ani span:nth-child(2) {background: url(../images/sec_02_title02.png) no-repeat top right; width: 200px;}
.sec02 .title.aos-animate .tit-ani span.ani-txt {animation: wi3 1.4s ease both;}


@keyframes wi3{
    0% {width: 0px}
    100% {width: 440px;}
}
.sec02 .title > span {display: block; margin-top: 30px; font-size: 20px; font-weight: 300; color: #a1a1a1;}

.sec02-cont01 {text-align: center; margin-top: 60px;}
.sec02-cont01 p {font-size: 26px; font-weight: 300; color: #fff;}
.sec02-cont01 ul {width: 600px; height: 142px; background: url(../images/sec02_cont01_img.png) no-repeat top center; margin: 28px auto 10px;}
.sec02-cont01 ul li {text-indent: -9999px;}
.sec02-cont01 span {display: block; font-size: 20px; font-weight: 300; color: #a1a1a1;}

.sec02-cont02 {width: 700px; height: 636px; background: url(../images/sec_02_cont_01_bg.png) no-repeat top center; margin: 42px auto 40px;}

.sec02-cont02 .text {padding-top: 52px; text-align: center;}
.sec02-cont02 .text, .sec02-cont02 .text span {font-size: 32px; line-height: 48px; color: #fff; font-weight: 300;}
.sec02-cont02 .text b {position: relative; color: #5ebef5; font-weight: 300;}
.sec02-cont02 .text span {
    position: absolute;
    top: -4px;
    left: 0;
    height: 115%;
    transform-origin: 0 100%;
    color: #fff;
    overflow: hidden;
    transition: height 0.3s 0.3s ease-in;
}


.sec02-cont02 .text.aos-animate span {
    height: 0;
}

.sec02-cont02 .sec02-cont02_item {
    width: 648px;
    display: flex;
    justify-content: space-between;
    margin: 96px auto 0;
}

.sec02-cont02 .sec02-cont02_item li {width: 188px; height: 207px; text-align: center; position: relative;}

.sec02-cont02 .sec02-cont02_item li:nth-child(1) {background: url(../images/sec_02_cont_01_img.png) no-repeat top center;}
.sec02-cont02 .sec02-cont02_item li:nth-child(2) {background: url(../images/sec_02_cont_02_img.png) no-repeat top center;}

.sec02-cont02 .sec02-cont02_item li:nth-child(1) p {margin-top: 84px;}
.sec02-cont02 .sec02-cont02_item li:nth-child(2) p {margin-top: 72px;}

.sec02-cont02 .sec02-cont02_item li span {width: 56px; height: 28px; position: absolute; top: -14px; left: 50%; transform: translateX(-50%);}
.sec02-cont02 .sec02-cont02_item li p {font-size: 20px; font-weight: 500; line-height: 28px; margin-bottom: 12px;}
.sec02-cont02 .sec02-cont02_item li strong {font-size: 32px; font-weight: 700;}


.sec02-cont02 .text-box {margin-top: 30px;  text-align: center;}
.sec02-cont02 .text-box p {width: 310px; line-height: 50px; border: 2px solid #fff; border-radius: 50px; color: #fff; margin: 0 auto; font-size: 20px; font-weight: 300;}
.sec02-cont02 .text-box span {display: block; margin-top: 20px; font-size: 20px; font-weight: 300; color: #a1a1a1;}


.sec02-cont03 {width: 699px; height: 658px; background: url(../images/sec_02_cont_02_bg.png) no-repeat top center; margin: 0 auto 56px;}

.sec02-cont03 .text {padding-top: 48px; text-align: center;}
.sec02-cont03 .text, .sec02-cont03 .text span {font-size: 32px; line-height: 48px; color: #fff; font-weight: 300;}
.sec02-cont03 .text b {position: relative; color: #fff; font-size: 32px; font-weight: 300; transition: color 0s 0.6s ease;}
.sec02-cont03 .text span {
    position: absolute;
    top: -4px;
    left: 0;
    height: 0%;
    transform-origin: 0 100%;
    -webkit-text-stroke: .1px #5ebef5;
    color: #5ebef5;
    overflow: hidden;
    transition: height 0.3s 0.3s ease-in;
}


.sec02-cont03 .text.aos-animate span {
    height: 115%;
}
/* 
.sec02-cont03 .text.aos-animate b {
    color: transparent;
} */

.sec02-cont03_item {width: 620px; display: flex; margin: 64px auto 0;}
.sec02-cont03_item li {width: 310px;}
.sec02-cont03_item li .graf {position: relative; width: 240px; height: 240px; background: url(../images/sec_02_cont_02_graf.png) no-repeat center; margin: 0 auto;}
.sec02-cont03_item li .graf > div {position: absolute; width: 212px; height: 212px; top: 14px; left: 14px; display: none; background: url(../images/sec_02_cont_02_graf_item.png) no-repeat;}
.sec02-cont03_item.aos-animate li .graf > div {display: block; animation: graf 0.3s linear both;}

@keyframes graf{
    0% {transform: scale(1.2); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}

.sec02-cont03_item li .graf p {width: 127px; height: 63px; background: url(../images/sec_02_cont_02_graf_txt.png) no-repeat center; position: absolute; left: 138px; top: -10px; z-index: 1; opacity: 0;}
.sec02-cont03_item li .graf > span {display: block; position: absolute; top: 20px; left: 138px; width: 0; height: 38px; background: url(../images/sec_02_cont_02_graf_txt_item.png) no-repeat center left;}

.sec02-cont03_item.aos-animate li .graf p {animation: grafTxt 0.3s 0.3s linear both;}
.sec02-cont03_item.aos-animate li .graf > span {animation: wi5 0.3s 0.6s ease both;}

@keyframes grafTxt{
    0% {transform:scale(1.2); opacity: 0;}
    100% {transform:scale(1); opacity: 1;}
}

@keyframes wi5{
    0% {width: 0px}
    100% {width: 127px;}
}

.sec02-cont03_item li:nth-child(2) {width: 264px; margin-left: auto;}
.sec02-cont03_item li .list {width: 264px;padding-bottom: 22px; background: url(../images/sec_02_cont_02_item03.png) no-repeat center bottom;}
.sec02-cont03_item li .list dd {position: relative; padding : 16px 0 16px 30px; font-size: 20px; color: #fff; line-height: 28px; background: url(../images/sec_02_cont_02_item02.png) no-repeat bottom left;}
.sec02-cont03_item li .list dd::after {content: ""; display: block; width: 24px; height: 24px; background: url(../images/sec_02_cont_02_item01.png) no-repeat center; position: absolute; top: 18px; left: 0;}

.sec02-cont03_item li .list dd:first-child {padding-top: 6px;}
.sec02-cont03_item li .list dd:first-child::after {top: 8px;}
.sec02-cont03_item li .list dd:last-child {background: none;}

.sec02-cont03_item li .text-box {margin-top: 32px;  text-align: center;}
.sec02-cont03_item li .text-box p {width: 310px; line-height: 50px; border: 2px solid #fff; border-radius: 50px; color: #fff; margin: 0 auto; font-size: 20px; font-weight: 300;}
.sec02-cont03_item li:nth-child(2) .text-box p {width: 260px;}
.sec02-cont03_item li .text-box span {display: block; margin-top: 10px; font-size: 20px; font-weight: 300; line-height: 30px; color: #a1a1a1;}

.sec02-cont03_item li:nth-child(2) .text-box {margin-top: 20px;}
.sec02-cont03_item.aos-animate li .list dd {top: 0; opacity: 1;}


.sec02-cont04 {position: relative; width: 644px; height: 240px; margin: 58px auto 0; background: url(../images/sec_02_cont_03_item01.png) no-repeat center left;}
.sec02-cont04 p {position: absolute; left: 214px; width: 431px; height: 240px; background: url(../images/sec_02_cont_03_item02.png) no-repeat center;}



/* content 03 */
.sec03{height: 2510px; background: url(../images/sec_03_bg.png) repeat bottom center;}
.sec03 .title {text-align: center; padding-top: 108px;}
.sec03 .title h2 {font-size: 40px; font-weight: 300; color: #fff;}
.sec03 .title .tit-ani {margin-top: 14px; margin-bottom: 56px;}
.sec03 .title .tit-ani span {text-indent: -9999px; display: inline-block; height: 37px;}
.sec03 .title .tit-ani span:nth-child(1) {background: url(../images/sec_03_title01.png) no-repeat; }
.sec03 .title .tit-ani span:nth-child(2) {background: url(../images/sec_03_title02.png) no-repeat top right; width: 197px;}
.sec03 .title.aos-animate .tit-ani span.ani-txt {animation: wi6 1.4s ease both;}
.sec03 .orage-txt {font-size: 22px; font-weight: 300; color: #ff7200; margin-bottom: 16px; text-align: center;}
.orage-sub-txt {text-align: center;}
.orage-sub-txt p {font-weight: 300; font-size: 20px; line-height: 32px; color: #fff;}
.orage-sub-txt span {display: inline-block; margin-top: 10px; font-weight: 300; font-size: 20px; color: #fff; opacity: 0.5;}

@keyframes wi6{
    0% {width: 0px}
    100% {width: 214px;}
}


.sec03-cont01 {height: 847px; margin: 84px auto 38px;}

.sec03-cont01 .text {padding-top: 54px; text-align: center; margin-bottom: 34px;}
.sec03-cont01 .text, .sec03-cont01 .text span {font-size: 32px; line-height: 48px; color: #fff; font-weight: 300;}
.sec03-cont01 .text i {color: #ff7200; font-weight: 300;}
.sec03-cont01 .text b {position: relative; color: #ff7200; font-weight: 300;}
.sec03-cont01 .text span {
    position: absolute;
    top: -4px;
    left: 0;
    height: 115%;
    transform-origin: 0 100%;
    color: #fff;
    overflow: hidden;
    transition: height 0.3s 0.3s ease-in;
}


.sec03-cont01 .text.aos-animate span {
    height: 0;
}

.sec03-cont01 .orage-txt {margin-bottom: 8px;}

.sec03-cont01 .graf {position: absolute; top: 846px; left: 50%; transform: translateX(-50%); width: 570px; height: 438px; background: url(../images/sec_03_cont_01_bg.png) no-repeat;}
.sec03-cont01 .graf .img {position: absolute; left: 0; width: 570px; height: 438px; background: url(../images/sec_03_cont_01_item.png) no-repeat; clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
.sec03-cont01 .graf.aos-animate .img {animation: wi7 1.5s ease both 0.5s;}
@keyframes wi7{
    0% {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
} 


.sec03-cont02 {height: 680px; margin: 0 auto 74px;}

.sec03-cont02 .text {padding-top: 56px; text-align: center;}
.sec03-cont02 .text, .sec03-cont02 .text span {font-size: 32px; line-height: 48px; color: #fff; font-weight: 300;}
.sec03-cont02 .text span {position: relative; color: #fff; font-weight: 300;}
.sec03-cont02 .text b {top: 1px; position: relative; color: #fff; font-size: 32px; font-weight: 300; transition: color 0s 0.6s ease;}
.sec03-cont02 .text span {
    position: absolute;
    top: -4px;
    left: 0;
    height: 0%;
    transform-origin: 0 100%;
    -webkit-text-stroke: .1px #ff7200;
    color: #ff7200;
    overflow: hidden;
    transition: height 0.3s 0.3s ease-in;
}


.sec03-cont02 .text.aos-animate span {
    height: 100%;
}
/* 
.sec03-cont02 .text.aos-animate b {
    color: transparent;
} */

.sec03-cont02 .countNum { position: relative; text-align: center; padding-top: 54px; transition: background 0.3s 0.6s ease-in;}
.sec03-cont02 .countNum p {position: relative; z-index: 1; font-size: 24px; font-weight: 300; color: #fff;}
.sec03-cont02 .countNum p b {display: inline-block; position: relative; top: -1px; margin-right: 8px; font-size: 24px; font-weight: 300; color: #fff;}
.sec03-cont02 .countNum p span {display: inline-block; font-size: 36px; font-weight: 300; color: #fff;}
.sec03-cont02 .countNum > span {display: inline-block; margin-top: 32px; font-size: 20px; color: #a1a1a1; font-weight: 300;}
.sec03-cont02 .countNum p span.counter-value {width: 44px;}
.sec03-cont02 .countNum p span:nth-child(2) {margin-left: -5px;}
.sec03-cont02 .countNum .item {width: 295px; height: 90px; position: absolute; top: 26px; left: 50%; transform: translateX(-50%); background: url(../images/sec_03_cont_02_item.png) no-repeat top center;}

.sec03-cont02 .img-item {height: 326px; background: url(../images/sec_03_cont_02_img.png) no-repeat top center; margin-top: 13px;}

.sec03-cont03{position: relative; width: 635px; height: 264px; margin: 50px auto 0; background: url(../images/sec_03_cont_03_item01.png) no-repeat center left;}
.sec03-cont03 p {position: absolute; left: 202px; width: 431px; height: 240px; background: url(../images/sec_03_cont_03_item02.png) no-repeat center; }

.sec03-cont03 span {display: block; position: absolute; bottom: -28px; right: 0; text-align: right; font-size: 20px; line-height: 24px; color: #999; font-weight: 300;}


/* content 04 */
.sec04 {position: relative; height: 1853px;}
.sec04 .bg {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 0; height: 888px; background: url(../images/sec_04_bg.png) repeat top center; transition: width 0.3s ease;}
.sec04 .bg.aos-animate {width: 100%;}

.sec04 .title {width: 650px; margin: 0 auto; padding-top: 100px; text-align: center;}
.sec04 .title .flex span {display: inline-block; padding-left: 18px; font-size: 80px; color: #fff;}
.sec04 .title p {font-size: 80px; color: #fff; letter-spacing: -0.04rem;}
.sec04 .title div.top-txt .flex {display: flex; align-items: center;
    justify-content: center; margin-bottom: 10px;}
.sec04 .title div ul {display: inline-block; width: 400px; height: 81px; position: relative; overflow: hidden;}
.sec04 .title div ul::before {content: ''; display: block; width: 19px; height: 81px; position: absolute; top: 0; left: 0; background: url(../images/sec_04_title_bullet01.png) no-repeat top center;}
.sec04 .title div ul::after {content: ''; display: block; width: 19px; height: 81px; position: absolute; top: 0; right: 0; background: url(../images/sec_04_title_bullet02.png) no-repeat top center;}

.sec04 .title div li {position: absolute; width: 420px; top: 0; left: 50%; transform: translateX(-50%); font-size: 80px; color: #63c6ff; line-height: 89px;}
.sec04 .title div li:nth-child(1) {opacity: 1; top: 0;}
.sec04 .title div li:nth-child(2) {opacity: 0; top: 81px;}
.sec04 .title div li:nth-child(3) {opacity: 0; top: 81px;}

.sec04 .title.aos-animate div li:nth-child(1) {animation: slide 2s 1s ease both;}
.sec04 .title.aos-animate div li:nth-child(2) {animation: slide01 2s 3s ease both;}
.sec04 .title.aos-animate div li:nth-child(3) {animation: slide02 2s 5s ease both;}

@keyframes slide{
    0% {top: 0; opacity: 1;}
    20% {top: 0; opacity: 1;}
    60% {top: 0; opacity: 1;}
    100% {top: -81px; opacity: 0;}
}

@keyframes slide01{
    0% {top: 81px; opacity: 1;}
    20% {top: 0; opacity: 1;}
    60% {top: 0; opacity: 1;}
    100% {top: -81px; opacity: 0;}
}


@keyframes slide02{
    0% {top: 81px; opacity: 0;}
    20% {top: 0; opacity: 1;}
    60% {top: 0; opacity: 1;}
    100% {top: 0; opacity: 1;}
}

.sec04 .title .sub-txt {text-align: center; margin-top: 100px;}
.sec04 .title .sub-txt p {font-size: 28px; line-height: 42px; color: #fff;}
.sec04 .title .sub-txt span {position: relative; display: block; margin: 38px auto 0; width: 478px; font-size: 22px; padding-left: 8px; color: #fff;}

.sec04 .title .sub-txt span::after {content: ""; display: block; position: absolute; bottom: -12px; left: 0; width: 0; height: 6px; background: url(../images/sec_03_text-item.png) no-repeat top left; transition: width 0.3s 0.6s ease;}
.sec04 .title.aos-animate .sub-txt span::after {width: 500px;}


.sec04 .sec04_motion {width: 100%; height: 965px; background: url(../images/sec_04_motion_bg.png) no-repeat top center; 
position: absolute;
left: 0;
bottom: 0;
z-index: 3;}

.sec04 .sec04_motion .text-cont {text-align: center;}
.sec04 .sec04_motion .text-cont:nth-child(1) {padding: 174px 0 74px; }
.sec04 .sec04_motion .text-cont p {font-size: 32px; font-weight: 800; color: #383433;}
.sec04 .sec04_motion .text-cont div {width: 400px; margin: 14px auto 0;}
.sec04 .sec04_motion .text-cont div p, .sec04 .sec04_motion .text-cont div ul li {line-height: 58px;}
.sec04 .sec04_motion .text-cont div p {padding-top: 24px;}

.sec04 .sec04_motion .text-cont div ul {position: relative; width:400px;}
.sec04 .sec04_motion .text-cont div ul::before {content: ''; display: block; width: 13px; height: 54px; position: absolute; top: 0; left: 0; background: url(../images/sec_04_text_bullet01.png) no-repeat top center;}
.sec04 .sec04_motion .text-cont div ul::after {content: ''; display: block; width: 13px; height: 54px; position: absolute; top: 0; right: 0; background: url(../images/sec_04_text_bullet02.png) no-repeat top center;}

.sec04 .sec04_motion .text-cont div ul li {width: 0; height: 54px; margin-left: 22px;}
.sec04 .sec04_motion .text-cont:nth-child(1) div ul li {background: url(../images/sec_04_title_item01.png) no-repeat center left; transition: width 0.6s 0.3s ease;}
.sec04 .sec04_motion .text-cont:nth-child(2) div ul li {background: url(../images/sec_04_title_item02.png) no-repeat center left; transition: width 0.6s 0.8s ease;}

.sec04 .sec04_motion .text-cont:nth-child(1) div.aos-animate ul li {width: 358px}
.sec04 .sec04_motion .text-cont:nth-child(2) div.aos-animate ul li {width: 358px}


.sec04 .sec04_motion .bottom-txt {padding-top: 115px; text-align: center;}
.sec04 .sec04_motion .bottom-txt p {font-size: 44px; font-weight: 500; color: #fff;}
.sec04 .sec04_motion .bottom-txt .ani-txt {line-height: 74px;  margin-top: -16px;}
.sec04 .sec04_motion .bottom-txt .ani-txt i {font-size: 44px; font-weight: 500; color: #fff; display: block; margin-top: -10px;}
.sec04 .sec04_motion .bottom-txt strong {position: relative; top: 23px; display: inline-block; width: 0; height: 74px; overflow: hidden; background: url(../images/sec_04_text_item.png) no-repeat top right; transition: width 0.8s 2s ease;}
.sec04 .sec04_motion .bottom-txt strong span {font-size: 44px; font-weight: 600; color: #fffb8a; line-height: 74px;}
.sec04 .sec04_motion .bottom-txt.aos-animate strong {width: 274px;}


/* content 05 */
.sec05{background: #eaf4ff;}
.sec05 .inner {height: auto; padding: 96px 0 100px;}
.sec05 .title {text-align: center;}
.sec05 .title h2 {font-size: 40px; font-weight: 300; color: #222;}
.sec05 .title .tit-ani {margin-top: 10px; margin-bottom: 62px; display: flex;    justify-content: center;}
.sec05 .title .tit-ani span:nth-child(1) {text-indent: -9999px; display: inline-block; height: 40px; background: url(../images/sec_05_title01.png) no-repeat; margin-top: 1px;}
.sec05 .title .tit-ani span.txt {font-size: 40px; font-weight: 300; line-height: 46px; color: #222;}
.sec05 .title.aos-animate .tit-ani span.ani-txt {animation: wi8 1.4s ease both;}
@keyframes wi8{
    0% {width: 0px}
    100% {width: 189px;}
}

.sec05_cont ul {width: 680px; margin: 0 auto;}
.sec05_cont li {position: relative; margin-bottom: 20px; width: 100%; height: auto; padding: 38px 0 34px 120px; background-color: #fff; border-radius: 20px;}
.sec05_cont li::after {content: ''; display: block; width: 50px; height: 50px; background: url(../images/sec_05_cont_item_defult.png) no-repeat top center; position: absolute; top: 55px; left: 28px;}

.sec05_cont li i {display: block; width: 50px; height: 50px; background: url(../images/sec_05_cont_item.png) no-repeat top center; position: absolute; top: 55px; left: 28px; opacity: 0; transition: opacity 0.3s ease; z-index: 1;}

.sec05_cont li div {}
.sec05_cont li div p {font-size: 28px; line-height: 46px; font-weight: 800; color: #222; margin-bottom: 8px; transition: border 0.3s 0.3s ease; letter-spacing: -0.04rem;}

.sec05_cont li div strong {display: inline-block; position: relative; font-size: 28px; font-weight: 700; -webkit-text-fill-color: #cdcdcd; border-bottom: 2px solid #cdcdcd; padding-bottom: 4px;}
.sec05_cont li div strong:nth-child(2) {margin-bottom: 14px;}
.sec05_cont li div strong::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    transform-origin: 0 100%;
    content: attr(data-text);
    -webkit-text-fill-color: #fe7c6f;
    overflow: hidden;
    transition: all 0.3s ease-in;
}
.sec05_cont li:nth-child(2) div strong::after {-webkit-text-fill-color: #89a230;}
.sec05_cont li:nth-child(3) div strong::after {-webkit-text-fill-color: #977cdd;}

.sec05_cont li.on div strong {border-bottom: 2px solid #fe7c6f;}
.sec05_cont li:nth-child(2).on div strong {border-bottom: 2px solid #89a230;}
.sec05_cont li:nth-child(3).on div strong {border-bottom: 2px solid #977cdd;}

.sec05_cont li.on div strong::after {
    height: 110%;
}

.sec05_cont li.on i {opacity: 1;}



/* content 06 */
.sec06 {background-color: #fff;}
.sec06 .inner {padding: 86px 0 96px; margin: 0 34px !important;}
.sec06 .inner .title {font-size: 40px; line-height: 56px; margin-bottom: 64px; color: #000; text-align: center; font-weight: 300;}

.sec06 .inner .inputarea{margin-bottom: 32px; display: flex; align-items: flex-start;}
.sec06 .inner .inputarea div {display: flex; align-items: center;}
.sec06 .inner .inputarea div:first-child {margin-bottom: 20px;}
.sec06 .inner .inputarea span{display: inline-block; vertical-align: middle;}
.sec06 .inner .inputarea span label{font-size: 27px; color:#000; font-weight: 700;}
.sec06 .inner .inputarea span input{padding: 15px;border: 2px solid #ccc;font-size: 22px;vertical-align: middle; border-radius: 10px; color: #222;}
.sec06 .inner .inputarea span input::placeholder {color: #ccc;}
.sec06 .inner .inputarea span.in2 input{width: 224px;}
.sec06 .inner .inputarea span.in4 input{width: 260px;}
.sec06 .inner .inputarea span.in2{margin:0 24px 0 14px;}
.sec06 .inner .inputarea span.in4{margin:0 0 0 14px;}
.sec06 .inner .perstxt{margin-bottom: 80px; padding:46px 30px 54px; background-color: #fafafa;  border-radius:15px; position: relative;}
.sec06 .inner .perstxt > .flex {margin-bottom: 58px; text-align: center;}
.sec06 .inner .perstxt p.T6{font-weight: 700; text-align: center; color:#000;font-size: 24px; margin-bottom: 38px;}
.sec06 .inner .perstxt p.T7{color:#000; font-size: 24px; font-weight: 500; margin-bottom: 40px; line-height: 33px;}
.sec06 .inner .perstxt p.T7 span{font-weight: 700; color:#89a230;}
/* .sec06 .inner .perstxt .inbox label{color:#000; font-size: 26px; font-weight: 700;}
.sec06 .inner .perstxt .inbox input{width: 20px; height: 20px; margin-top:4px; vertical-align: top; border: 2px solid #000;} */
.sec06 .inner .perstxt .inbox{margin-bottom: 40px; text-align: center;}
.sec06 .inner .perstxt .container {position: relative;padding-left: 35px;margin-bottom: 12px; cursor: pointer;font-size: 24px;-webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;}
.sec06 .inner .perstxt .container input {position: absolute;opacity: 0; cursor: pointer;height: 0; width: 0;}
.sec06 .inner .perstxt .checkmark {position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: #fff;border: 2px solid #cecece;border-radius: 50%;}
.sec06 .inner .perstxt .container:hover input ~ .checkmark {background-color: #fff;border: 2px solid #cecece; border-radius: 50%;}
.sec06 .inner .perstxt .container input:checked ~ .checkmark { border: 2px solid #cecece;border-radius: 50%;}
.sec06 .inner .perstxt .checkmark:after {content: "";position: absolute;display: none;}
.sec06 .inner .perstxt .container input:checked ~ .checkmark:after {display: block;}
.sec06 .inner .perstxt .container .checkmark:after {left: 4px;top: 4px;width: 13px;height: 13px; background-color: #89a230; border-radius: 10px;}
.sec06 .inner .perstxt .inbox .in1 {margin: 0 35px 0 0; vertical-align: top;}
.sec06 .inner .perstxt .inbox .in2 {vertical-align: top;}
.sec06 .inner .perstxt table {margin-bottom: 30px; width: 100%;}
.sec06 .inner .perstxt table tr {border: 1px solid #b6b6b6; border-left: 0; border-right: 0;}
.sec06 .inner .perstxt table th,
.sec06 .inner .perstxt table td {text-align: center; font-size: 20px; color:#222; vertical-align: middle; letter-spacing: -0.5px;}
.sec06 .inner .perstxt table th:nth-of-type(1), .sec06 .inner .perstxt table td:nth-of-type(1){border-left: 0;}
.sec06 .inner .perstxt table th:nth-of-type(3), .sec06 .inner .perstxt table td:nth-of-type(3){border-right: 0;}
.sec06 .inner .perstxt table th{background: #ededed; height: 58px; font-weight: 800;}
.sec06 .inner .perstxt table td {padding: 16px 0 18px 14px; line-height: 28px; font-weight: 600; text-align: center; border-right: 0; letter-spacing: -0.075em; font-size: 18px; background-color: #fff;}
.sec06 .inner .perstxt .T8{font-weight: 600; font-size: 20px; color:#555; position: relative; padding-left: 20px; line-height: 37px; letter-spacing: -0.058em;}
.sec06 .inner .perstxt .T8:before{content: '※';position: absolute; left: 0; color:#555; font-weight: 600; font-size: 20px;}
.sec06 .inner .perbtn{text-align: center;position: relative;}
.sec06 .inner .perbtn .pops{position: absolute;top: -30px;left: 50%; margin-left: -287px;display: none;}
.sec06 .inner .perbtn .pops .lx{position: absolute;top:-15px; right: -15px;;}
.sec06 .inner .perbtn .okbtn{width:190px; height:100px; margin:0 auto; padding-top:4px; background: url(../images/sec_06_btn.png) no-repeat center; font-weight: bold; font-size:30px; font-weight: 900; letter-spacing: -0.05em; line-height:1; color: #fff; position: relative; cursor: pointer; display: flex; align-items: center; justify-content: center;}
.sec06 .inner .perbtn .okbtn:after{content: ""; width: 50px; height: 50px; background: url(../images/icon_click_black01.png) no-repeat left top; position: absolute; right:-8px; top:40px; animation:zooms3 0.5s ease-in-out infinite alternate;}
@keyframes zooms3{
	0%{transform:scale(1); right:-8px; top:40px;}
    100%{transform:scale(1.2); right:-18px; top:50px;}
}


/* content 07 */
.sec07 {position: relative; height: 1428px; background: url(../images/sec_07_bg.png) no-repeat top center;}
.sec07 .bg {position: absolute; bottom: 0; left: 0; width: 100%; height: 212px; background: url(../images/sec_07_bg_item.png) repeat top; animation: bgs 200s ease infinite;}
@keyframes bgs{
	0%{background-position: -14000px 0;}
	100%{background-position: 0 0;}
}
.sec07 .inner {padding-top: 100px;}
.sec07 .title {text-align: center;}
.sec07 .title h2 {font-size: 40px; line-height: 56px; font-weight: 300; color: #222;}
.sec07 .title .tit-ani {margin:4px 0 62px; display: flex;    justify-content: center;}
.sec07 .title .tit-ani span:nth-child(1) {text-indent: -9999px; display: inline-block; height: 40px; background: url(../images/sec_07_title01.png) no-repeat; margin-top: 3px;}
.sec07 .title .tit-ani span.txt {font-size: 40px; font-weight: 300; line-height: 46px; color: #222;}
.sec07 .title.aos-animate .tit-ani span.ani-txt {animation: wi9 1.4s ease both;}
@keyframes wi9{
    0% {width: 0px}
    100% {width: 269px;}
}

.sec07_cont ul {width: 670px; display: flex; margin: 58px auto 30px; justify-content: space-between; align-items: center;}
.sec07_cont ul:nth-child(2) {width: 320px; margin: 0 auto;}

.sec07_cont ul li {position: relative; width: 320px;}
.sec07_cont ul li p {position: absolute; top: 0; z-index: 1; background-color: #849d32; width: 320px; line-height: 70px; border-radius: 10px; font-size: 28px; font-weight: 300; color: #fff; text-align: center;}
.sec07_cont ul li div {position: relative; width: 320px; height: 506px; top: -20px; opacity: 0;}
.sec07_cont ul li:nth-child(1) div {background: url(../images/sec_07_img01.png) no-repeat top center;}
.sec07_cont ul li:nth-child(2) div {background: url(../images/sec_07_img02.png) no-repeat top center;}
.sec07_cont ul:nth-child(2) li div {background: url(../images/sec_07_img03.png) no-repeat top center;}

.sec07_cont.aos-animate ul li:nth-child(1) div {animation: show 0.7s ease both;}
.sec07_cont.aos-animate ul li:nth-child(2) div {animation: show 0.7s 0.4s ease both;}
.sec07_cont.aos-animate ul:nth-child(2) li div {animation: show 0.7s 0.8s ease both;}

@keyframes show{
    0% {top: -20px; opacity: 0;}
    100% {top: 0; opacity: 1;}
}

/* content 11 */
.sec10{background:url(../images/sec_07_bg.png) no-repeat bottom; height: 269px; padding: 45px 0 40px;}
.sec10 .inner {}
.sec10 p{font-size: 22px; line-height: 35px; color:#000; text-align: center; font-weight: 800;}
.sec10 a{position: relative; padding: 0 27px; width: 480px; margin: 100px auto 0; height: 70px; line-height: 60px; text-align: center; color:#000; background: transparent; font-size: 22px; display: block; font-weight: 800; border-radius: 35px;}
.sec10 a span{color:#758b14;  font-weight: 700;}
.sec10 a::before {
    display: block;
    border: 4px solid #cad5a6;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: btn 3s ease infinite;
    opacity: 0;
    z-index: -1;
    border-radius: 45px;
}

@keyframes btn{
	0% {
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    50% {opacity: 0.5;}
    
    100%{
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;}
}


@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-30px) skewY(-30deg);transform:rotateY(30deg) translateY(-30px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-30px) skewY(-30deg);transform:rotateY(30deg) translateY(-30px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
@-webkit-keyframes tilt-in-right-1{0%{-webkit-transform:rotateX(-30deg) translateX(30px) skewX(30deg);transform:rotateX(-30deg) translateX(30px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-right-1{0%{-webkit-transform:rotateX(-30deg) translateX(30px) skewX(30deg);transform:rotateX(-30deg) translateX(30px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
@-webkit-keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
@-webkit-keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(50px) skewY(30deg);transform:rotateY(-30deg) translateY(50px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(50px) skewY(30deg);transform:rotateY(-30deg) translateY(50px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}

@keyframes fades{0%{opacity: 1;} 50%{opacity: 0;}}
@keyframes fades2{0%{opacity: 0;} 50%{opacity: 1;}}
@keyframes w1{0%{width:0;} 100%{width: 135px;}}
@keyframes w2{0%{width:0;} 100%{width: 459px;}}
@keyframes w3{0%{width:0;} 100%{width: 445px;}}
@keyframes w4{0%{width:0;} 100%{width: 124px;}}
@keyframes w5{0%{width:165px;margin-left: -749px;} 100%{width: 324px;margin-left: -919px;;}}
@keyframes w6{0%{width:0;} 100%{width: 53px;}}
@keyframes w7{0%{width:0;} 100%{width: 320px;}}
@keyframes opa{0%{opacity: 0;} 100%{opacity: 1;}}
@keyframes h1{0%{height:0;} 100%{height: 130px;}}
@keyframes rota{0%{transform:rotate(4deg);} 100%{transform:rotate(-4deg);}}
@keyframes rota1{0%{transform:rotate(-90deg);} 100%{transform:rotate(0deg);}}
@keyframes scroll_ani{0% {transform:translateY(0);}50% {transform:translateY(10%);}100% {transform:translateY(0);}}
@media all and (min-width:1920px) {
    .healthywrap .healthy .gnilogo{position: absolute;top: 18px; right:50%; margin-right:-920px;z-index: 1;display: inline-block;}

}


/*
transform: scale(1.1) 부분을
transform: scale(1.1) rotate(.001deg); 로 변경하면 부드럽게 처리되네요


display: flex; flex-wrap: wrap; flex-direction: row; align-content: center; justify-content: center; -ms-flex-align:center;
display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; -ms-flex-align:center;
display: flex; align-items: center; justify-content: center;

맨 앞에 정렬
justify-content: flex-start;
​
맨 끝에 정렬
justify-content: flex-end;

가운데 정렬
justify-content: center;

서로 같은 간격으로 박스들이 조정됨.
justify-content: space-between;​

컨텐츠 뿐만 아니라 그 주변도 같은 간격으로 조정됨.
justify-content: space-around;

​

* 수직으로 적용
align-items

컨테이너의 꼭대기로 정렬
justify-content: flex-start
​
컨테이너의 바닥으로 정렬
flex-end​

가운데로 정렬
center

컨테이너의 시작 위치에 정렬
baseline​

컨테이너에 맞도록 늘린다.
stretch


.list_ol_01 {counter-reset:item; margin-bottom:10px;}
.list_ol_01 > li {position: relative; font-size: 16px; line-height: 1.75; margin-bottom:4px; color: #636363; padding-left:26px;}
.list_ol_01 > li:last-child {margin-bottom: 0;}
.list_ol_01 > li:before {counter-increment: item; content: counter(item); width: 18px; height: 18px; display: inline-block; background: #fff; border:1px solid #636363; color: #636363; border-radius: 50%; text-align: center; line-height:18px; font-size: 10px; position: absolute; top: 5px; left: 0; font-weight:400;}

-webkit-transform: translateY(-50%); transform: translateY(-50%);
-webkit-transform: translateX(-50%); transform: translateX(-50%);
filter:grayscale(100%) blur(0px); -webkit-filter:grayscale(100%) blur(0px);
transition: all .5s linear;
transition: all .5s ease-out;
transform:scale(100%);
transform:rotate(180deg);
-webkit-transition-timing-function:ease-in linear; transition-timing-function:ease-in linear;
-webkit-transition-delay: .8s; transition-delay: .8s;
:before{content: ""; width: 24px; height: 24px; background-color: #fff; border:1px solid #666; display: inline-block; position:absolute; left: 0; top:0px; box-sizing: border-box;}
display: flex; justify-content: space-between; // 양쪽 끝 정렬
display: flex; justify-content: space-around; // 센터 정렬
display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; //한줄 감추기
display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; //두줄 감추기
active
:first-child
text-indent:-99999px;
!important
display:table;
table-layout:fixed;
display:table-row;
display:table-cell;
box-sizing:border-box;
word-break:keep-all; word-wrap:break-word;
border-radius:2px;
*/