@import url('https://fonts.cdnfonts.com/css/nanumsquare-neo');
@import url('https://webfontworld.github.io/gyeonggi/GyeonggiTitle.css');

@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: 300; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');}
@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: normal; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');}
@font-face {font-family: 'GmarketSans'; font-style: normal; font-weight: bold; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduPower';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GangwonEduAll';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'BMDoHyeon';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.ttf') format("truetype");
    font-display: swap;
} 

.light{ font-weight: 300 }
.midium{ font-weight: 500 }
.sbold{ font-weight: 600 }
.bold{ font-weight: 800 }
.bolder{ font-weight: 900 }

html,body{height: 100%;}
.wrap .cont img{width: auto;display: inline-block;}

* {font-family: 'Pretendard',sans-serif; font-weight: 400; line-height: 1; color: #000;}


.blind {visibility: hidden;
	display: none;
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0;}


html,body{height: 100%;}
.wrap img{width: auto;display: inline-block;}
.wrap div,.wrap span,.wrap a,.wrap p,.wrap label,.wrap table th,.wrap table td{font-family: 'Pretendard' ,sans-serif;font-weight: 400; letter-spacing: 0;}

*[data-font="GangwonEduAll"],
*[data-font="GangwonEduAll"] *,
.wrap .inner .chk .txtbox *{font-family: 'GangwonEduAll', sans-serif !important;}

*[data-font="GangwonEduPower"],
*[data-font="GangwonEduPower"] *,
.wrap .inner .chk .txtbox *{font-family: 'GangwonEduPower', sans-serif !important;}


*[data-font="NanumSquare"],
*[data-font="NanumSquare"] *,
.wrap .inner .chk .txtbox *{font-family: 'NanumSquare Neo', sans-serif !important; font-weight: 400;}

.GyeonggiTitle, .GyeonggiTitle * {font-family: 'GyeonggiTitle' !important; font-weight: 300; font-style: normal;}

.BMDoHyeon, .BMDoHyeon * {font-family: 'BMDoHyeon' !important; font-weight: 300; font-style: normal;}

.wrap{width:100%; max-width: 720px; margin: auto;position: relative; overflow: hidden;}

.wrap [data-aos=fade-up]{transform: translate3d(0,30px,0);}
.wrap [data-aos=fade-down]{transform: translate3d(0,-30px,0)}
.wrap [data-aos=fade-right]{transform: translate3d(-30px,0,0)}
.wrap [data-aos=fade-left]{transform: translate3d(30px,0,0)}


.wrap .cont{width:100%; max-width: 720px; margin: auto;position: relative;}
.wrap .cont .inner{margin: auto;position: relative; z-index:2;}
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;}
.fixd {display: flex;}

.tit-box p, .tit-box p span {font-size: 24px;}
.tit-box p {color: #fff; line-height: 40px;}
.tit-box p span {color: #ffd55b;}
	
/* content 01 */
.sec01 .logo { position: absolute; top: 25px; right: 33px; z-index: 9; width: 192px; height: 36px;}
.sec01 .logo a {display: block; width: 100%; height: 36px;}
.sec01 {height: 1633px; background: url(../images/sec_01_bg.png) no-repeat top center; background-size: cover;}

/* .sec01::after{content: ''; display: block; width: 100%; height: 1633px; position: absolute; top: 0; background: url(../images/sec_01_bgv.jpg) no-repeat top center; opacity: 0.6; z-index: 9;} */

.sec01 .title {padding-top: 125px;}
.sec01 .title .rund-txt {font-size: 22px; width: 330px; line-height: 49px; color: #fff; border-radius: 50px; background-color: #0aad81; text-align: center; margin: 0 auto; font-weight: 600; letter-spacing: -0.01rem;}

.sec01 .tit-ani {position: relative; width: 100%; height: 77px; text-align: center; margin: 28px auto 30px;}
.sec01 .tit-ani p {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 443px; height: 77px; background: url(../images/sec_01_tit_all.png) no-repeat;}
.sec01 .tit-ani span{ position: absolute; display: block;
    top: 0;
    left: 139px;
    width: 163px;
    height: 77px;
    transform-origin: 0 100%;
    overflow: hidden;
    transition: height 0.6s 0.6s ease-in;
    background: #b0e4f3 url(../images/sec_01_tit.png) no-repeat;
}

.sec01 .tit-ani.aos-animate span {
    height: 0;
}

.sec01 .title .sub-txt {font-size: 22px; font-weight: 800; text-align: center;}
.sec01 .bottom-txt {position: absolute; top: 1069px; left: 59px;}
.sec01 .bottom-txt p {font-size: 25px; color: #fff; line-height: 46px;}
.sec01 .bottom-txt p span {position: relative; display: inline-block;  font-size: 25px; color: #000; font-weight: 900; margin-right: 9px;}
.sec01 .bottom-txt p span::after {content: ""; display: block; width: 0; height: 40px; position: absolute; z-index: -1; top: -8px; left: -18px; background: url(../images/sec_01_img03.png) no-repeat; transition: width 1s ease;}

.sec01 .bottom-txt.aos-animate p span::after {width: 188px;}



/* content 02 */
.sec02 {height: 1235px; background: url(../images/sec_02_bg.png);}

/* .sec02::after{content: ''; display: block; width: 100%; height: 1235px; position: absolute; bottom: 0; background: url(../images/sec_02_bgv.jpg) no-repeat top center; opacity: 0.6;} */

.sec02 .title {text-align: center; padding-top: 100px;}
.sec02 .title .tit-ani {padding-top: 27px; width: 522px; margin: 0 auto; text-align: center;}
.sec02 .title .tit-ani p {width: 480px; font-size: 40px; font-weight: 500; align-items:center; justify-content: center;}
.sec02 .title .tit-ani p:nth-child(2) {width: 519px; line-height: 53px; }
.sec02 .title .tit-ani p i {display: inline-block; position: relative; width: 260px; height: 64px; background: url(../images/sec_02_tit01.png) no-repeat; background-position: -320px 0;}
.sec02 .title .tit-ani p > span {margin-left: 10px; font-weight: 500; letter-spacing: -0.02rem;}

.sec02 .title .tit-ani.aos-animate p i {animation: wi1 1s ease both;}

@keyframes wi1{
    0% {background-position: -320px 0;}
    100% {background-position: 0 0;}
}

.sec02 .img-cont {position: absolute; width: 945px; top: 460px; left: 50%; transform: translateX(-50%);}
.sec02 .img-cont li {position: absolute;}
.sec02 .img-cont li:nth-child(1) {width: 310px; height: 326px; background: url(../images/sec_02_t1.png) no-repeat; top: 21px; left: 130px; animation: t_ani1 2s step-end infinite;}
.sec02 .img-cont li:nth-child(2) {width: 231px; height: 246px; background: url(../images/sec_02_t2.png) no-repeat; top: -69px; left: 429px;}
.sec02 .img-cont li:nth-child(3) {width: 317px; height: 333px; background: url(../images/sec_02_t3.png) no-repeat; top: 112px; left: 352px; z-index: 1; animation: t_ani2 2s step-end infinite;}
.sec02 .img-cont li:nth-child(4) {width: 310px; height: 326px; background: url(../images/sec_02_t4.png) no-repeat; top: 36px; left: 573px; animation: t_ani1 2s step-end infinite;}

.sec02 .img-cont.aos-animate li:nth-child(2) {animation: t_ani3 2s linear infinite;}

@keyframes t_ani1{
    50% {transform: rotate(10deg);}
}
@keyframes t_ani2{
    50% {transform: rotate(-10deg);}
}
@keyframes t_ani3{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.sec02 .bottom-txt {position: absolute; top: 927px; left: 0; width: 720px; text-align: center;}
.sec02 .bottom-txt .tit-ani {position: relative;}
.sec02 .bottom-txt .tit-ani2 {margin-top: 13px;}
.sec02 .bottom-txt .tit-ani p {font-size: 40px; font-weight: 500;}
.sec02 .bottom-txt .tit-ani p:nth-child(2) {margin-top: 15px;}
.sec02 .bottom-txt .tit-ani p b{font-size: 40px; font-weight: bold; letter-spacing: -0.1px; color: #0da87e;}
.sec02 .bottom-txt .tit-ani span{ position: absolute; display: block;
    top: 56px;
    left: 56px;
    width: 264px;
    height: 38px;
    transform-origin: 0 100%;
    overflow: hidden;
    transition: height 0.6s ease-in;
    background: #e4e5e6 url(../images/sec_02_txt_ani01.png) no-repeat;
}

.sec02 .bottom-txt .tit-ani2 span{ position: absolute; display: block;
    top: 0px;
    left: 157px;
    width: 406px;
    height: 39px;
    transition: height 0.6s 0.6s ease-in;
    background: #e4e5e6 url(../images/sec_02_txt_ani02.png) no-repeat;
}

.sec02 .bottom-txt.aos-animate .tit-ani span {
    height: 0;
}


/* content 03 */
.sec03{height: 1437px; background: url(../images/sec_03_bg.png) no-repeat bottom center;}
/* .sec03::after{content: ''; display: block; width: 100%; height: 1371px; position: absolute; top : 0; background: url(../images/sec_03_bgv.jpg) no-repeat top center; opacity: 0.6; z-index: 9;} */

.sec03 .title {padding-top: 195px; margin: 0 auto; align-items: center;}
.sec03 .title p {font-size: 40px; font-weight: 500; color: #30301f; letter-spacing: -0.02rem;}
.sec03 .title > p {text-align: center;}
.sec03 .title > div {margin-top: 11px; display: flex; align-items: center; justify-items: center; justify-content: center;}
.sec03 .title b {display: block; width: 0; height: 45px;}
.sec03 .title b.tit-item1 {background: url(../images/sec_03_tit01.png) no-repeat; margin: 0 10px 0 0;  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);  transition: width 1s ease, clip-path 1s ease;}
.sec03 .title b.tit-item2 {background: url(../images/sec_03_tit02.png) no-repeat; margin-left: 10px;  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); transition: width 1s 1s ease, clip-path 1s 1s ease;}

.sec03 .title.aos-animate b {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  width: 77px;}

.sec03  .graf-cont {width: 617px; height: 403px; background: url(../images/sec_03_cont_grap.png) no-repeat; margin: 66px auto 0; display: flex;}
.sec03  .graf-cont > div {position: relative; width: 50%;}

.sec03  .graf-cont > div .graf {position: absolute; transform: rotate(180deg); transform-origin: center center; transition: transform 1.6s ease;}
.sec03  .graf-cont > .graf-cont01 .graf {width: 216px; height: 216px; top: 43px; left: 40px;}
.sec03  .graf-cont > .graf-cont01 .graf .img {width: 216px; height: 216px; background: url(../images/sec_03_cont_grap01.png) no-repeat;}

.sec03  .graf-cont > .graf-cont02 .graf {width: 216px; height: 216px; top: 44px; left: 49px;}
.sec03  .graf-cont > .graf-cont02 .graf .img {width: 216px; height: 216px; background: url(../images/sec_03_cont_grap02.png) no-repeat;}

.sec03  .graf-cont > div .counter span {font-size: 58px; text-shadow: 5px 5px #4c6112; color: #fff;}
.sec03  .graf-cont > div .counter {font-size: 27px; text-shadow: 3px 4px #4c6112; color: #fff; position: absolute; top: 143px; left: 153px;}

.sec03  .graf-cont.aos-animate > div .graf {transform: rotate(360deg);}

.sec03  .graf-cont > .graf-cont02 .counter span {text-shadow: 5px 5px #1d7e86;}
.sec03  .graf-cont > .graf-cont02 .counter {text-shadow: 3px 4px #1d7e86; left: 168px;}

.sec03 .img-cont01 {margin: 28px auto 0; width: 605px; height: 300px; background: url(../images/sec_03_img01.png) no-repeat; position: relative; z-index: 1;}
.sec03 .img-cont02 {position: relative;  width: 900px; margin: 0 auto;}
.sec03 .img-cont02 > div {position: absolute;}
.sec03 .img-cont02 .item1 {width: 145px; height: 219px; background: url(../images/sec_03_img03.png) no-repeat; top: 1px; left: 290px; z-index: 1;}
.sec03 .img-cont02 .item2 {width: 710px; height: 0; background: url(../images/sec_03_img02.png) no-repeat; top: -176px; left: 13px; transition: height 1s 1.1s ease;}

.sec03 .img-cont01.aos-animate + .img-cont02 .item2 {height: 595px;}


/* content 04 */
.sec04 {position: relative; height: 1981px; background: url(../images/sec_04_bg.png); margin: -69px auto 0 !important; z-index: 9;}
/* .sec04::after{content: ''; display: block; width: 100%; height: 1981px; position: absolute; top: 0; background: url(../images/sec_04_bgv.jpg) no-repeat top center; opacity: 0.6;} */

.sec04 .img-cont {position: relative;}
.sec04 .img-cont li {position: absolute;}

.sec04 .img-cont li:nth-child(1) {width: 511px; height: 255px; background: url(../images/sec_04_img01.png) no-repeat; top: 218px; right: 41px;}
.sec04 .img-cont li:nth-child(2) {width: 511px; height: 248px; background: url(../images/sec_04_img02.png) no-repeat;  top: 550px; left: 41px;}
.sec04 .img-cont li:nth-child(3) {width: 520px; height: 255px; background: url(../images/sec_04_img03.png) no-repeat;  top: 877px; right: 41px;}


.sec04 .bottom-img-cont {width: 667px; height: 558px; background: url(../images//sec_04_img04.png) no-repeat; position: absolute; top: 1255px; left: 50%; transform: translateX(-50%);}

.sec04 .bottom-img-cont ul {position: absolute; top: 468px; left: 96px;}
.sec04 .bottom-img-cont ul li {width: 59px; height: 60px; background-color: #3c4c53; position: absolute; }
.sec04 .bottom-img-cont ul li:nth-child(2) {left: 95px;}

.sec04 .bottom-img-cont.aos-animate li {animation: op 1s linear both;}
.sec04 .bottom-img-cont.aos-animate li:nth-child(2) {animation: op 1s 1s linear both;}

@keyframes op{
    0% {opacity: 1;}
    100% {opacity: 0;}
}


/* content 05 */
.sec05 {width: 100%; height: 1454px; background: url(../images/sec_05_bg.png) no-repeat top center; position: relative;}
/* .sec05::after{content: ''; display: block; width: 100%; height: 1454px; position: absolute; bottom: 0; background: url(../images/sec_05_bgv.jpg) no-repeat top center; opacity: 0.6;} */

.sec05 .bg {position: absolute; width: 1748px; height: 817px; background: url(../images/sec_05_bg_item.png) no-repeat center left; top: 321px; left: -57px; clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
.sec05 .bg.aos-animate {animation: wBg 2.6s ease both;}
@keyframes wBg{
    0% {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
} 

.sec05 .title {justify-content: center; align-items: center;}
.sec05 .title01 {padding-top: 192px; text-align: center;}
.sec05 .title02 {width: 740px; padding-top: 6px;}
.sec05 .title p {font-size: 40px; font-weight: 500; color: #30301f; letter-spacing: -0.02rem;}

.sec05 .title01 div {display: flex; justify-content: center; align-items: center; margin-top: 14px;}
.sec05 .title02 {display: flex;}
.sec05 .title02 p {margin-left: -10px; position: relative; z-index: 1;}

.sec05 .title b {display: block; width: 0; height: 37px;}
.sec05 .title b.tit-item1 {background: url(../images/sec_05_tit01.png) no-repeat; margin: 0 3px 0 4px; transition: width 1s ease;}
.sec05 .title b.tit-item2 {margin-left: -48px; height: 57px; background: url(../images/sec_05_tit02.png) no-repeat; margin-right: -1px;  transition: width 1s 1s ease;}
.sec05 div.aos-animate .title b.tit-item1 {width: 178px;}
.sec05 div.aos-animate .title b.tit-item2 {width: 381px;}

.sec05 .bottom-txt {position: absolute; top: 1132px; left: 50%; transform: translateX(-50%); width: 700px; height: 155px; background: url(../images/sec_05_txt_bg.png) no-repeat;}
.sec05 .bottom-txt div {width: 100%; position: relative;}
.sec05 .bottom-txt b {display: block; height: 50px; position: absolute; background-color: #f99269;}

.sec05 .bottom-txt b.tit-item1 {width: 212px; left: 34px; top: 72px;}
.sec05 .bottom-txt b.tit-item2 {width: 205px; left: 278px; top: 72px;}

.sec05 .bottom-txt.aos-animate b.tit-item1 {animation: op 1s linear both;}
.sec05 .bottom-txt.aos-animate b.tit-item2 {animation: op 1s 1s linear both;}


/* content 06 */
.sec06 {width: 100%; height: 1477px;  position: relative; background: #e9f8df;}
/* .sec06::after{content: ''; display: block; width: 100%; height: 1477px; position: absolute; top: 0; background: url(../images/sec_06_bgv.jpg) no-repeat top center; opacity: 0.6;} */

.sec06 .title {align-items: flex-start; padding-top: 132px;}
.sec06 .title .tit-ani {width: 641px; margin: 0 auto; text-align: center;}
.sec06 .title .tit-ani p {font-size: 40px; font-weight: 500; }
.sec06 .title .tit-ani p:nth-child(2) {margin-top: 1px; margin-left: -10px;  letter-spacing: -0.02rem;}
.sec06 .title .tit-ani p i {display: inline-block; margin-left: 8px; position: relative; width: 0; height: 55px; background: url(../images/sec_06_tit01.png) no-repeat;}
.sec06 .title .tit-ani p > span {font-weight: 500; letter-spacing: -0.02rem;}

.sec06 .title .tit-ani.aos-animate p i {animation: wi6 1s ease both;}

@keyframes wi6{
    0% {width: 0px}
    100% {width: 248px;}
}

.sec06 .cont ul {width: 631px;  position: relative; margin: 64px auto 0; background: url(../images/sec_06_cont.png) no-repeat;}

.sec06 .cont ul li {width: 631px; height: 500px; position: relative; cursor: pointer;}
.sec06 .cont ul li:nth-child(2) {margin-top: 43px;}
.sec06 .cont ul li i {display: block; position: absolute; width: 49px; height: 49px; background: url(../images/sec_06_click_on.png) no-repeat; top: 56px; left: 24px; opacity: 0;}
.sec06 .cont ul li.defult span {display: block; position: absolute; width: 44px; height: 44px; background: url(../images/sec_06_click_icon.png) no-repeat; top: 100px; left: 56px; animation:zooms2 0.5s ease-in-out infinite alternate;}
@keyframes zooms2{
	0%{transform:scale(1); left: 56px; top: 100px;}
	100%{transform:scale(1.2); left: 66px; top: 110px;}
}

.sec06 .cont ul li > div {width: 639px; height: 350px; position: absolute; background: url(../images/sec_06_cont_item01.png) no-repeat; top: 331px; left: 21px; transform: translateY(-50%) scaleY(0); opacity: 0; transition: opacity 0.1s ease-out, transform 0.3s ease-in; }
.sec06 .cont ul li:nth-child(2) > div {background: url(../images/sec_06_cont_item02.png) no-repeat;}

.sec06 .cont ul li.active i {opacity: 1;}
.sec06 .cont ul li.active span {display: none;}
.sec06 .cont ul li.active div {transform: translateY(-50%) scaleY(1);  opacity: 1;}


/* content 07 */
.sec07 {background-color: #f4f4f4; position: relative;}
/* .sec07::after{content: ''; display: block; width: 100%; height: 1364px; position: absolute; top: 0; background: url(../images/sec_07_bgv.jpg) no-repeat top center; opacity: 0.6; z-index: 9;} */

.sec07 .inner {padding: 122px 0 96px; margin: 0 22px !important;}
.sec07 .inner .title {font-size: 40px; line-height: 56px; margin-bottom: 62px; color: #000; text-align: center; font-weight: 400;}

.sec07 .inner .inputarea{margin-bottom: 32px; display: flex; align-items: flex-start;}
.sec07 .inner .inputarea div {display: flex; align-items: center;}
.sec07 .inner .inputarea div:first-child {margin-bottom: 20px;}
.sec07 .inner .inputarea span{display: inline-block; vertical-align: middle;}
.sec07 .inner .inputarea span label{font-size: 24px; color:#000; font-weight: 700;}
.sec07 .inner .inputarea span input{padding: 15px;border: 2px solid #ccc;font-size: 22px;vertical-align: middle; border-radius: 10px; color: #222;}
.sec07 .inner .inputarea span input::placeholder {color: #ccc;}
.sec07 .inner .inputarea span.in2 input{width: 242px;}
.sec07 .inner .inputarea span.in4 input{width: 266px;}
.sec07 .inner .inputarea span.in2{margin:0 24px 0 14px;}
.sec07 .inner .inputarea span.in4{margin:0 0 0 14px;}
.sec07 .inner .perstxt{margin-bottom: 43px; padding:51px 30px 54px; background-color: #fafafa;  border-radius:15px; position: relative;}
.sec07 .inner .perstxt > .flex {margin-bottom: 41px; text-align: center;}
.sec07 .inner .perstxt p.T6{font-weight: 700; text-align: center; color:#000;font-size: 24px; margin-bottom: 30px;}
.sec07 .inner .perstxt p.T7{color:#000; font-size: 24px; font-weight: 500; margin-bottom: 19px; line-height: 33px;}
.sec07 .inner .perstxt p.T7 span{font-weight: 700; color:#89a230;}
/* .sec07 .inner .perstxt .inbox label{color:#000; font-size: 26px; font-weight: 700;}
.sec07 .inner .perstxt .inbox input{width: 20px; height: 20px; margin-top:4px; vertical-align: top; border: 2px solid #000;} */
.sec07 .inner .perstxt .inbox{ text-align: center;}
.sec07 .inner .perstxt .container {position: relative;padding-left: 35px;margin-bottom: 12px; cursor: pointer;font-size: 24px; font-weight: 500; -webkit-user-select: none; -moz-user-select: none;-ms-user-select: none;user-select: none;}
.sec07 .inner .perstxt .container input {position: absolute;opacity: 0; cursor: pointer;height: 0; width: 0;}
.sec07 .inner .perstxt .checkmark {position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: #fff;border: 2px solid #cecece;border-radius: 50%;}
.sec07 .inner .perstxt .container:hover input ~ .checkmark {background-color: #fff;border: 2px solid #cecece; border-radius: 50%;}
.sec07 .inner .perstxt .container input:checked ~ .checkmark { border: 2px solid #cecece;border-radius: 50%;}
.sec07 .inner .perstxt .checkmark:after {content: "";position: absolute;display: none;}
.sec07 .inner .perstxt .container input:checked ~ .checkmark:after {display: block;}
.sec07 .inner .perstxt .container .checkmark:after {left: 4px;top: 4px;width: 13px;height: 13px; background-color: #89a230; border-radius: 10px;}
.sec07 .inner .perstxt .inbox .in1 {margin: 0 35px 0 0; vertical-align: top;}
.sec07 .inner .perstxt .inbox .in2 {vertical-align: top;}
.sec07 .inner .perstxt table {margin-bottom: 40px; width: 100%;}
.sec07 .inner .perstxt table tr {border: 1px solid #b6b6b6; border-left: 0; border-right: 0;}
.sec07 .inner .perstxt table th,
.sec07 .inner .perstxt table td {text-align: center; font-size: 20px; color:#222; vertical-align: middle; letter-spacing: -0.5px;}
.sec07 .inner .perstxt table th:nth-of-type(1), .sec07 .inner .perstxt table td:nth-of-type(1){border-left: 0;}
.sec07 .inner .perstxt table th:nth-of-type(3), .sec07 .inner .perstxt table td:nth-of-type(3){border-right: 0;}
.sec07 .inner .perstxt table th{background: #ededed; height: 58px; font-weight: 800;}
.sec07 .inner .perstxt table td {padding: 14px 0 14px 14px; line-height: 28px; font-weight: 600; text-align: center; border-right: 0; letter-spacing: -0.075em; font-size: 18px; background-color: #fff;}
.sec07 .inner .perstxt .T8{font-weight: 600; font-size: 20px; color:#555; position: relative; padding-left: 20px; line-height: 37px; letter-spacing: -0.058em;}
.sec07 .inner .perstxt .T8:before{content: '※';position: absolute; left: 0; color:#555; font-weight: 600; font-size: 20px;}
.sec07 .inner .perbtn{text-align: center;position: relative;}
.sec07 .inner .perbtn .pops{position: absolute;top: -30px;left: 50%; margin-left: -287px;display: none;}
.sec07 .inner .perbtn .pops .lx{position: absolute;top:-15px; right: -15px;;}
.sec07 .inner .perbtn .okbtn{width:217px; height:83px; margin:0 auto; padding-top:4px; background: url(../images/sec_06_btn.png) no-repeat center; font-weight: bold; font-size:30px; font-weight: 900; letter-spacing: -0.05em; line-height:1; color: #fff; position: relative; cursor: pointer; display: flex; align-items: center; justify-content: center;}
.sec07 .inner .perbtn .okbtn:after{content: ""; width: 52px; height: 79px; background: url(../images/icon_click_black.png) no-repeat left top; position: absolute; right:-8px; top:40px; animation:zooms3 0.5s ease-in-out infinite alternate;}
@keyframes zooms3{
	0%{transform:scale(1); right:-8px; top:40px;}
    100%{transform:scale(1.2); right:-18px; top:50px;}
}


/* content 08 */
.sec08 {position: relative; height: 1271px; padding: 117px 0 148px; background: #eaf4ff;}
/* .sec08::after{content: ''; display: block; width: 100%; height: 1271px; position: absolute; top: 0; background: url(../images/sec_08_bgv.jpg) no-repeat top center; opacity: 0.6; z-index: 9;} */

.sec08 .title {align-items: center; }
.sec08 .title .tit-ani {width: 100%; margin: 0 auto; text-align: center;}
.sec08 .title .tit-ani p {font-size: 40px; font-weight: 500; justify-content: center; margin-bottom: 15px;}
.sec08 .title .tit-ani p:nth-child(2) {margin-top: 1px; margin-left: -10px;  letter-spacing: -0.02rem;}
.sec08 .title .tit-ani p i {display: inline-block; margin-right: 3px; margin-left: 2px; position: relative; width: 0; height: 38px; background: url(../images/sec_08_tit01.png) no-repeat;}
.sec08 .title .tit-ani p > span {font-weight: 500; letter-spacing: -0.02rem;}

.sec08 .title .tit-ani.aos-animate p i {animation: wi8 1s ease both;}

@keyframes wi8{
    0% {width: 0px}
    100% {width: 182px;}
}

.sec08 .top-txt {width: 656px; margin: 78px auto 0;}
.sec08 .top-txt > div {width: 100%; height: 88px; background: url(../images/sec_08_img01.png) no-repeat; clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
.sec08 .top-txt p {margin-top: 21px; margin-left: 21px; width: 0; height: 23px; background: url(../images/sec_08_txt01.png) no-repeat; transition: width 1s ease;}

.sec08 .top-txt.aos-animate p {width: 770px;}
.sec08 .top-txt.aos-animate  > div {animation: sec08wBg 1s ease both;}
@keyframes sec08wBg{
    0% {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
} 

.sec08 .sec08-cont {width: 621px; margin: 32px auto 0;}
.sec08 .sec08-cont li {display: inline-block; opacity: 0;}
.sec08 .sec08-cont li:nth-child(1) {width: 621px; height: 304px; background: url(../images/sec_08_cont01.png) no-repeat; margin-bottom: 14px;} 
.sec08 .sec08-cont li:nth-child(2) {width: 302px; height: 299px; background: url(../images/sec_08_cont02.png) no-repeat;} 
.sec08 .sec08-cont li:nth-child(3) {width: 300px; height: 299px; background: url(../images/sec_08_cont03.png) no-repeat; margin-left: 13px;} 

.sec08 .sec08-cont li dd {opacity: 0; transform: translate3d(0, -30px, 0);}

.sec08 .sec08-cont li dd {width: 100%; margin-top: 8px; height: 60px; }

.sec08 .sec08-cont li:nth-child(1) dl {width: 582px; margin: 89px auto 0;}
.sec08 .sec08-cont li:nth-child(1) dd:nth-child(2) {margin-top: 0; background: url(../images/sec_08_item01.png) no-repeat 0 0; transition: opacity 0.3s 0.3s ease-out, transform 0.3s 0.3s ease-out;}
.sec08 .sec08-cont li:nth-child(1) dd:nth-child(3) {background: url(../images/sec_08_item01.png) no-repeat 0 -68px; transition: opacity 0.3s 0.6s ease-out, transform 0.3s 0.6s ease-out;}
.sec08 .sec08-cont li:nth-child(1) dd:nth-child(4) {background: url(../images/sec_08_item01.png) no-repeat 0 -136px;  transition: opacity 0.3s 0.9s ease-out, transform 0.3s 0.9s ease-out;}

.sec08 .sec08-cont li:nth-child(2) dl {width: 271px; margin: 83px auto 0;}
.sec08 .sec08-cont li:nth-child(2) dd:nth-child(2) {margin-top: 0; background: url(../images/sec_08_item02.png) no-repeat 0 0; transition: opacity 0.3s 1.5s ease-out, transform 0.3s 1.5s ease-out;}
.sec08 .sec08-cont li:nth-child(2) dd:nth-child(3) {background: url(../images/sec_08_item02.png) no-repeat 0 -68px; transition: opacity 0.3s 1.8s ease-out, transform 0.3s 1.8s ease-out;}
.sec08 .sec08-cont li:nth-child(2) dd:nth-child(4) {background: url(../images/sec_08_item02.png) no-repeat 0 -138px;  transition: opacity 0.3s 2.1s ease-out, transform 0.3s 2.1s ease-out;}

.sec08 .sec08-cont li:nth-child(3) dl {width: 271px; margin: 83px auto 0;}
.sec08 .sec08-cont li:nth-child(3) dd:nth-child(2) {margin-top: 0; background: url(../images/sec_08_item03.png) no-repeat 0 0; transition: opacity 0.3s 2.7s ease-out, transform 0.3s 2.7s ease-out;}
.sec08 .sec08-cont li:nth-child(3) dd:nth-child(3) {background: url(../images/sec_08_item03.png) no-repeat 0 -68px; transition: opacity 0.3s 3s ease-out, transform 0.3s 3s ease-out;}
.sec08 .sec08-cont li:nth-child(3) dd:nth-child(4) {background: url(../images/sec_08_item03.png) no-repeat 0 -138px;  transition: opacity 0.3s 3.3s ease-out, transform 0.3s 3.3s ease-out;}


.sec08 .sec08-cont.aos-animate li:nth-child(1) {animation: fade-in-top 1s cubic-bezier(.39,.575,.565,1.000) both;}
.sec08 .sec08-cont.aos-animate li:nth-child(2) {animation: fade-in-top 1s 1s cubic-bezier(.39,.575,.565,1.000) both;}
.sec08 .sec08-cont.aos-animate li:nth-child(3) {animation: fade-in-top 1s 2s cubic-bezier(.39,.575,.565,1.000) both;}

.sec08 .sec08-cont.aos-animate li dd {opacity: 1; transform: translate3d(0, 0, 0);}


/* content 09 */
.sec09 {position: relative; height: 1316px; padding: 106px 0 148px; background: url(../images/sec_09_bg.png) no-repeat;}
/* .sec09::after{content: ''; display: block; width: 100%; height: 1317px; position: absolute; top: 0; background: url(../images/sec_09_bgv.png) no-repeat top center; opacity: 0.6;} */
.sec09 .title {position: relative; text-align: center; margin-bottom: 54px;}
.sec09 .title .tit-item {margin-top: 12px; position: relative;}
.sec09 .title p {font-size: 40px; font-weight: 500; margin-bottom: 10px;}
.sec09 .title p b{font-size: 40px; font-weight: bold; letter-spacing: -0.1px; color: #0da87e; letter-spacing: 0.15px;}
.sec09 .title .tit-item1 span{ position: absolute; display: block;
    top: 2px;
    left: 211px;
    width: 297px;
    height: 37px;
    transform-origin: 0 100%;
    overflow: hidden;
    transition: height 0.6s ease-in;
    background: #fbfae4 url(../images/sec09_tit01.png) no-repeat;
}

.sec09 .title .tit-item2 span{ position: absolute; display: block;
    top: 0px;
    left: 128px;
    width: 463px;
    height: 39px;
    transition: height 0.6s 0.6s ease-in;
    background: #fbfae4 url(../images/sec09_tit02.png) no-repeat;
}

.sec09 .title.aos-animate .tit-item span {
    height: 0;
}


.mySwiper {width: 670px; height: 856px; position: relative;} 
.mySwiper .swiper-wrapper {}
.mySwiper li {width: 621px; height: 856px;}
.mySwiper .slide-cont-item01 {background: url(../images/slide_cont01.png) no-repeat center;}
.mySwiper .slide-cont-item02 {background: url(../images/slide_cont02.png) no-repeat  center;}


.swiper-button {display: block !important; position: absolute; width: 68px; height: 68px; top: 50%; transform: translateY(-50%); cursor: pointer; z-index: 1;}
.swiper-button:hover {opacity: 1;}
.button-prev {left: 0; background: url(../images/slide_right_btn.png) no-repeat center;}
.button-next {right: 0; background: url(../images/slide_left_btn.png) no-repeat center;}

/* content 10 */
.sec10{background-color: #849d32; height: 245px;}
.sec10 .inner {width: 100%; height: 245px; margin: 0 auto; background: url(../images/sec_10_txt.png) no-repeat;}

.sec10 a{position: relative; width: 446px; height: 80px; position: absolute; top: 131px; left: 138px; background: transparent; display: inline-block; font-weight: 800; border-radius: 80px; border: 4px solid #cad5a6;}

.sec10 a::before {
    display: block;
    border: 4px solid #cad5a6;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: btn 3s ease infinite;
    opacity: 0;
    z-index: -1;
    border-radius: 45px;
}

@keyframes btn{
	0% {
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
    50% {opacity: 0.5;}
    
    100%{
        top: -15px;
        right: -15px;
        bottom: -15px;
        left: -15px;
        opacity: 0;}
}



@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-30px) skewY(-30deg);transform:rotateY(30deg) translateY(-30px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-30px) skewY(-30deg);transform:rotateY(30deg) translateY(-30px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
@-webkit-keyframes tilt-in-right-1{0%{-webkit-transform:rotateX(-30deg) translateX(30px) skewX(30deg);transform:rotateX(-30deg) translateX(30px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-right-1{0%{-webkit-transform:rotateX(-30deg) translateX(30px) skewX(30deg);transform:rotateX(-30deg) translateX(30px) skewX(30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
@-webkit-keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);transform:rotateX(-30deg) translateX(-30px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}
@-webkit-keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(50px) skewY(30deg);transform:rotateY(-30deg) translateY(50px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-bottom-2{0%{-webkit-transform:rotateY(-30deg) translateY(50px) skewY(30deg);transform:rotateY(-30deg) translateY(50px) skewY(30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
@-webkit-keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}@keyframes slide-out-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}}

@keyframes fades{0%{opacity: 1;} 50%{opacity: 0;}}
@keyframes fades2{0%{opacity: 0;} 50%{opacity: 1;}}
@keyframes w1{0%{width:0;} 100%{width: 135px;}}
@keyframes w2{0%{width:0;} 100%{width: 459px;}}
@keyframes w3{0%{width:0;} 100%{width: 445px;}}
@keyframes w4{0%{width:0;} 100%{width: 124px;}}
@keyframes w5{0%{width:165px;margin-left: -749px;} 100%{width: 324px;margin-left: -919px;;}}
@keyframes w6{0%{width:0;} 100%{width: 53px;}}
@keyframes w7{0%{width:0;} 100%{width: 320px;}}
@keyframes opa{0%{opacity: 0;} 100%{opacity: 1;}}
@keyframes h1{0%{height:0;} 100%{height: 130px;}}
@keyframes rota{0%{transform:rotate(4deg);} 100%{transform:rotate(-4deg);}}
@keyframes rota1{0%{transform:rotate(-90deg);} 100%{transform:rotate(0deg);}}
@keyframes scroll_ani{0% {transform:translateY(0);}50% {transform:translateY(10%);}100% {transform:translateY(0);}}
@media all and (min-width:1920px) {
    .healthywrap .healthy .gnilogo{position: absolute;top: 18px; right:50%; margin-right:-920px;z-index: 1;display: inline-block;}

}


/*
transform: scale(1.1) 부분을
transform: scale(1.1) rotate(.001deg); 로 변경하면 부드럽게 처리되네요


display: flex; flex-wrap: wrap; flex-direction: row; align-content: center; justify-content: center; -ms-flex-align:center;
display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; -ms-flex-align:center;
display: flex; align-items: center; justify-content: center;

맨 앞에 정렬
justify-content: flex-start;
​
맨 끝에 정렬
justify-content: flex-end;

가운데 정렬
justify-content: center;

서로 같은 간격으로 박스들이 조정됨.
justify-content: space-between;​

컨텐츠 뿐만 아니라 그 주변도 같은 간격으로 조정됨.
justify-content: space-around;

​

* 수직으로 적용
align-items

컨테이너의 꼭대기로 정렬
justify-content: flex-start
​
컨테이너의 바닥으로 정렬
flex-end​

가운데로 정렬
center

컨테이너의 시작 위치에 정렬
baseline​

컨테이너에 맞도록 늘린다.
stretch


.list_ol_01 {counter-reset:item; margin-bottom:10px;}
.list_ol_01 > li {position: relative; font-size: 16px; line-height: 1.75; margin-bottom:4px; color: #636363; padding-left:26px;}
.list_ol_01 > li:last-child {margin-bottom: 0;}
.list_ol_01 > li:before {counter-increment: item; content: counter(item); width: 18px; height: 18px; display: inline-block; background: #fff; border:1px solid #636363; color: #636363; border-radius: 50%; text-align: center; line-height:18px; font-size: 10px; position: absolute; top: 5px; left: 0; font-weight:400;}

-webkit-transform: translateY(-50%); transform: translateY(-50%);
-webkit-transform: translateX(-50%); transform: translateX(-50%);
filter:grayscale(100%) blur(0px); -webkit-filter:grayscale(100%) blur(0px);
transition: all .5s linear;
transition: all .5s ease-out;
transform:scale(100%);
transform:rotate(180deg);
-webkit-transition-timing-function:ease-in linear; transition-timing-function:ease-in linear;
-webkit-transition-delay: .8s; transition-delay: .8s;
:before{content: ""; width: 24px; height: 24px; background-color: #fff; border:1px solid #666; display: inline-block; position:absolute; left: 0; top:0px; box-sizing: border-box;}
display: flex; justify-content: space-between; // 양쪽 끝 정렬
display: flex; justify-content: space-around; // 센터 정렬
display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; //한줄 감추기
display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; //두줄 감추기
active
:first-child
text-indent:-99999px;
!important
display:table;
table-layout:fixed;
display:table-row;
display:table-cell;
box-sizing:border-box;
word-break:keep-all; word-wrap:break-word;
border-radius:2px;
*/